{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'bookings/css/booking.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row booking_container">
            <div class="col-12 col-lg-6">
                <div class="text-center">
                    <hr>
                    <h2 class="logo-font mb-4">Fruit Picking</h2>
                    <hr>                
                    
                    <p class="text-muted">We accept cash at the door only during our fruit picking season</p>
                    <p class="text-muted">However, due to the current COVID regulations, bookings are required.</p>                              
                    <p class="text-muted">To make a booking, Please fill in the form below</p>
                    <span><p class="text-muted">* Entry is Free for children under the age of 12</p></span> 
                </div>               
                <form action="{% url 'booking' %}" method="POST" id="booking-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <!-- Full Name -->
                    <div class="form-group">                        
                        <input class="form-control" type="text" id="fullname" placeholder="Full Name" aria-describedby="fullname" required>                       
                    </div>
                    <!-- email -->
                    <div class="form-group">                        
                        <input class="form-control" type="email" id="email" placeholder="Email address" aria-describedby="email" required>                        
                    </div>
                    <!-- Number of people -->
                    <div class="form-group">                        
                        <select class="form-control" id="numberOfPeople">
                            <option>Number of people</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>
                    <!-- Date Picker -->
                    <div class="form-group">                        
                        <div class="input-group">                                                  
                            <select class="form-control" id="numberOfPeople">
                                <option>Available Dates</option>
                                <option>5/03/2022</option>
                                <option>12/03/2022</option>
                                <option>19/03/2022</option>
                                <option>26/03/2022</option>                                
                            </select>
                        </div>                                                                                           
                    </div>
                    <!-- Booking Button and modal trigger -->                   		
				    <button class="btn btn-black rounded-0" id="submit-button" type="button" data-toggle="modal" data-target="#bookingModal">
				    	<span class="font-weight-bold">Book</span>							
				    </button>                                 
                </form>
                <!-- Booking Confirmation Modal -->
                <div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="bookingModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-black">
                                <h5 class="modal-title" id="bookingModalLabel">You're booking is confirmed.</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="text-black">Thank you for booking with us. You will recieve a confirmation email shortly!</p>
                            </div>
                            <div class="modal-footer">
                                <a href="{% url 'home' %}" class="btn btn-black rounded-0 my-2">
                                    <span class="icon mr-2">
                                        <i class="fas fa-home"></i>
                                    </span>
                                    <span class="text-uppercase">Go Back Home!</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>           
        </div>   
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('#booking-form').submit(function (e) {
        e.preventDefault();
        $('#bookingModal').modal('show');
        $('#booking-form')[0].reset();
    });
</script>
{% endblock %}
