{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'about/css/about_us.css' %}">
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">            
            <div class="col">
                <h2 class="logo-font text-center text-black mb-4 about_title">
                    <span>About Us</span>
                </h2>               
            </div>       
        </div>
        <div class="about-container col-10 offset-1">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="card bg-dark text-white">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex veniam perspiciatis quas itaque dignissimos? Vitae laboriosam itaque ullam. Ea ad vitae iste, accusantium mollitia obcaecati possimus reprehenderit dolore assumenda nam.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ullam aliquid sed voluptates, porro tenetur similique facilis totam cupiditate? Sed itaque officia tempora temporibus minima quae quia, voluptate suscipit dicta.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum est tenetur quis modi, reprehenderit recusandae molestiae sed maiores eos culpa aspernatur, officiis incidunt reiciendis delectus eaque aperiam et minima laudantium?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur consequatur ducimus qui, sed eos dolorum blanditiis, illum eveniet autem ex veniam ratione impedit voluptas eligendi tempora sunt commodi quam consectetur.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia atque quas nam, iste rerum exercitationem excepturi quae. Odio totam sapiente error facilis distinctio voluptatem, ab dolorum minus quaerat autem esse?</p>
                    </div>
                </div>
                <div class="col-12 col-lg-6">   
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="{{ MEDIA_URL }}home_image.jpeg" alt="Card image">
                        <div class="card-img-overlay">
                            <h3 class="logo-font card-title text-center">Our Story</h3>                     
                        </div>
                    </div>
                </div>
            </div> 
            <h3 class="text-center text-black mb-4 about_title">
                <span>Recommended Products</span>
            </h3>
            <div class="row">               
                {% for product in products|slice:'4' %}
            
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                            <div class="card mb-4 h-100">
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id  %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id  %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0 font-weight-bold">{{ product.name }}</p>
                                </div>
                                <div class="col">
                                    <p class="lead mb-0 text-left">{{ product.description }}</p>                                
                                </div>                            
                            </div>
                    </div> 
                                        
                {% endfor %}                        
            </div> 
        </div>          
    </div>
{% endblock %}

